<div class="section-content" style="margin-top: 150px">
    <h1 class="sc-gsnTZi sc-ikZpkk sc-jIZahH GJlVl gJVCJh jtRgfT mb-5">Je me connecte :</h1>
    <nav>
        <ul class="sc-GVOUr eZxMCG kirk-items-list">
            <li class="kirk-items-list-item">
                <button type="button" class="kirk-item kirk-item--clickable sc-jIAOiI kzVgzs kirk-item-choice u-noTransition" title="Se connecter avec Facebook (nouvelle fenêtre)"><span class="kirk-item-leftWrapper">
                    <span class="kirk-item-leftText">
                        <span class="kirk-text kirk-text-title sc-TRNrF fVMKFD" style="color: rgb(5, 71, 82);">Continuer avec Facebook</span>
                    </span>
                </span>
                    <span class="kirk-item-rightAddon">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ksZaOG dVrSj" width="24" height="24" aria-hidden="true">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#1877F2" d="M12 0C5.37 0 0 5.4 0 12.07 0 18.1 4.39 23.1 10.13 24v-8.44H7.08v-3.49h3.04V9.41c0-3.02 1.8-4.7 4.54-4.7 1.31 0 2.68.24 2.68.24v2.97h-1.5c-1.5 0-1.96.93-1.96 1.89v2.26h3.32l-.53 3.5h-2.8V24C19.62 23.1 24 18.1 24 12.07 24 5.41 18.63 0 12 0z"></path></svg></span>
                    <span class="kirk-item-rightAddon">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ksZaOG jucjqW" width="24" height="24" aria-hidden="true">
                            <polyline fill="none" stroke="#708C91" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="9 18 15 12 9 6"></polyline></svg></span></button>
                <div aria-hidden="true" class="sc-ckMVTt sc-fbPSWO iWYdFP kXlwvq"><hr></div>
            </li>
            <li class="kirk-items-list-item" style="list-style: none;">
                <a type="button" class="kirk-item kirk-item--clickable sc-jIAOiI kzVgzs kirk-item-choice mb-xl u-noTransition" href="/login/email">
                    <span class="kirk-item-leftWrapper"><span class="kirk-item-leftText"><span class="kirk-text kirk-text-title sc-TRNrF fVMKFD" style="color: rgb(5, 71, 82);">Continuer avec une adresse email</span>
                    </span></span>
                    <span class="kirk-item-rightAddon">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ksZaOG jucjqW" width="24" height="24" aria-hidden="true">
                            <polyline fill="none" stroke="#708C91" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="pl-xl pr-xl"><p>Pas encore membre&nbsp;? <a href="/register">Inscrivez-vous</a></p></div>
</div>
