.jtRgfT {
    text-align: center;
    --space-bottom: 32px;
    --font-size-desktop: 40px;
    margin: 0px;

}

.section-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 662px;
}

.gJVCJh {
    color: rgb(5, 71, 82);
    font-size: 30px;
    line-height: 1.06;
    font-weight: 500;
}

.GJlVl {
    white-space: pre-line;
}

h1 {
    padding: 0;
    border: 0 none;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    font-weight: bold;
    font-size: 32px;
}

.eZxMCG {
    display: flex;
    flex-direction: column;
    list-style-type: none;

}
:lang(fr) {
    quotes: "« " " »";
}
li, ul {
    list-style: none;
}
body {
    color: rgb(5, 71, 82);
}
button.sc-jIAOiI {
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-family: inherit;
    background-color: transparent;
}

.kzVgzs {
    position: relative;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    -moz-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    border: 0px none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    white-space: pre-line;
}
.kzVgzs {
    padding-left: 24px;
    padding-right: 24px;
}
button {
    line-height: normal;
    appearance: none;
    margin: 0px;
    font: inherit;
    line-height: inherit;
}
.kXlwvq {
    padding-left: 24px;
    padding-right: 24px;
}
.iWYdFP {
    padding-top: 8px;
    padding-bottom: 8px;
}
div{
    margin: 0px;
    border: 0px none;
    font: inherit;
}

.kzVgzs .kirk-item-leftWrapper {
    display: flex;
    -moz-box-flex: 1;
    flex-grow: 1;
    -moz-box-align: center;
    align-items: center;
}
.u-noTransition span {
    transition: none !important;
}


.kzVgzs .kirk-item-rightAddon {
    margin-left: 16px;
}
.kzVgzs .kirk-item-leftAddon, .kzVgzs .kirk-item-rightAddon {
    display: inline-flex;
    min-width: 24px;
    -moz-box-align: center;
    align-items: center;
}
.u-noTransition span {
    transition: none !important;
}
button span {
    padding: 0;
    background: initial;
    height: auto;
}
.pl-xl {
    padding-left: 24px !important;
}
.pr-xl {
    padding-right: 44px !important;
    margin-right: 44px;
}
